/* src/styles/Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.search-input {
    padding: 5px;
}

.login-button {
    background-color: #f39c12;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
}